{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
    <br>
    <br>
    <div class="row">
      <div class="col"></div>
      <div class="col">
          <div class="card">
              <div class="card-header">
                  <h4 class="text-center">Register</h4>
              </div>
              <div class="card-body">
                <form method="POST">
                    <div class="form-group">
                        <label for="username">Username: </label>
                        <input class="form-control" type="text" name="username" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input class="form-control" type="password" name="password" id="password" required>
                    </div>
                    <button class="btn btn-success btn-block" type="submit" value="save">Register</button>
                </form>
              </div>
          </div>

      </div>
      <div class="col"></div>
    </div>

{% endblock %}